BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
Standard: Latest
AlignTrailingComments: true
ColumnLimit: 100
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false

BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true

AlignAfterOpenBracket: Align
AllowAllConstructorInitializersOnNextLine: false

IndentPPDirectives: BeforeHash

AlignConsecutiveMacros:
  Enabled: true 
